<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tehike.client.dtc.multiple.app.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:name="com.tehike.client.dtc.multiple.app.project.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 用于开机自启广播 -->
        <receiver
            android:name=".receivers.BootBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 广播监听安装包的变化 -->
        <receiver
            android:name=".update.UpdateRestartReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 远程操作的服务 -->
        <service android:name=".services.RemoteVoiceOperatService" />
        <!-- 接收报警的服务 -->
        <service android:name=".services.ReceiverAlarmService" />
        <!-- sip服务 -->
        <service android:name=".phone.SipService" />
        <!-- 被动修改ip -->
        <service android:name=".services.TerminalUpdateIpService" />
        <!-- 自动更新 -->
        <service android:name=".services.TimingAutoUpdateService" />
        <!-- 判断网络正常 -->
        <service android:name=".services.TimingRefreshNetworkStatus" />
        <!-- 获取报警类型及颜色对应数据 -->
        <service android:name=".services.TimingRequestAlarmTypeService" />
        <!-- 获取webapi上的sip和video数据的服务 -->
        <service android:name=".services.RequestWebApiDataService" />
        <!-- 用来修改系统信息的服务 -->
        <service android:name=".services.UpdateSystemSettingService" />
        <!-- 用来定时提交本机信息的服务 -->
        <service android:name=".services.TimingSendNativeInfoService" />
        <service android:name=".services.UpdateSystemTimeService"/>
        <service android:name=".services.ReceiveOpenBoxRequestService"/>

        <!--<service android:name=".voice.TimingCheckVoiceIsLiveService"/>-->

        <!-- 程序入口 -->
        <activity
            android:name=".ui.DtcDutyLoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DtcDutyMainActivity" android:launchMode="singleTop" />
        <activity android:name=".ui.ScreenSaverActivity"></activity>
    </application>

</manifest>